/*

.container {
  box-sizing: border-box;
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  height: 500px;
  width: 500px;
}
*/

.container {
  box-sizing: border-box;
  border: 5px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  height: 500px;
  width: 500px;
}

.Item {
  box-sizing: border-box;
  border: 5px solid purple;
}
