.container {
  margin: 0;
  height: 100vh
}

.container:hover .box {
  transition: transform ease 1s, background-color ease 1s;
  background-color: coral;
  transform: translate(50vw, 50vh);
}

.box {
  background-color: blueviolet;
  display: inline-block;
  border: 2px green solid;
  transform: translate(50vw, 100vh);
}