* {
  margin: 10px;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  background-color:red;
  text-align: center;
  justify-content: center;
}

.footer{
  background-color: green;
  position: fixed;
}